.searchbar {
  height: 32px;
  width: 200px;
  font-family: "Poppins", sans-serif;
  padding: 10px;
}
.searchbtn {
  height: 32px;
  font-family: "Poppins", sans-serif;
}
.App {
  margin-bottom: 70px;
}
