body {
  background-color: #f1edfd;
}
.Header {
  font-family: "Source Serif Pro", serif;
  text-align: center;
  font-weight: bold;
}
.Header h1 {
  font-size: 70px;
  margin-top: 0;
  color: #32314c;
}
.Header img {
  max-width: 180px;
  margin-top: 50px;
}
.SearchBar {
  text-align: center;
  font-family: sans-serif;
}
