.Header {
  font-family: "Source Serif Pro", serif;
  text-align: center;
  font-weight: bold;
}
.Header h1 {
  font-size: 80px;
  margin-top: 0;
  color: #32314c;
}
.Header img {
  max-width: 200px;
  margin-top: 50px;
}
.App {
  text-align: center;
  font-family: sans-serif;
}
footer {
  font-family: monospace;
  text-align: center;
}
