.firstGroup {
  background-color: ghostwhite;
  color: #32314c;
  max-width: 80%;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  padding: 20px;
}
.firstGroup h2 {
  font-size: 70px;
  margin: 0;
}
